<template>
    <template if:true={isLoading}>
        <div class="" style="position: relative;display: inline-block; left: 0px; top: 50px; width: 100%; height: 100%;">
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>
    </template>
<template if:false={isLoading}>
        <div class="">
            <label for="Select Folder">Select Folder</label>
            <select class="slds-input" onchange={folderChange} style="margin-bottom:20px;">
                <template for:each={folderEntries} for:item="obj">
                    <option key={obj.label} value={obj.value}>{obj.label}</option>
                </template>
</select>
<label for="Select Report">Select Report</label>
<select class="slds-input" onchange={handleChange}>
                <template for:each={reportEntries} for:item="obj">
                    <option key={obj.elementValue} value={obj.elementValue}>{obj.elementLabel}</option>
                </template>
            </select>
<div align="center" style="margin-top: 10px;">
    <lightning-button variant="Brand" label="Submit" onclick={handleClick} class="slds-m-left_x-small">
    </lightning-button>
</div>
</div>
</template>
</template>