<template>
  <div class="container" style="border:1px solid rgb(242,240,240)">
  <div class="icon-heading" style="display:inline-flex;margin:5px 0px 0px 5px;">
     <img src={quoteIcon} style="width: 25px; height: 22px; margin: 6px 5px 0px 6px;">
<h2 id="folder-header">Quote Of The Day</h2>
    </div>    
        <div class="quotewrapper" >
          <p class="quotecontent" style="padding:10px 20px 5px 20px"></p>
          <small  class="quoteauthor" style="padding:0px 20px 20px 20px"></small>
        </div>     
      </div>   
</template>