.quotewrapper {
    text-align: center;
}

.quotecontent {
    font-family: verdana !important;
    font-size: 15px;
    color: #000000;
    line-height: 1.4;
    text-align: left;
}

.quoteauthor {
    font-family: verdana !important;
    font-size: 15px;
    color: #000000;
    line-height: 1.4;
    text-align: left;
}