<template>
    <div id="parentDIV" style="overflow:hidden;padding:5px;white-space: nowrap;" class="classDiv" >
        <p style="position:relative;display: inline" id="tofloat" class="tofloat">
          
        </p>
       
    </div>    
</template>