<template>
  <lightning-card>
  <div class="upload-section" style="display:inline-flex">    
    <div  style="display: block;margin-left:10px;padding-bottom:5px;padding-top:0px;">
    <lightning-file-upload   name="fileUploader" accept={acceptedFileFormatsList} record-id={recordId} onuploadfinished={handleUploadFinished} label={FilesUploadLabel}>
    </lightning-file-upload>
</div> 
</div> 
<div style="color: #4CAF50;;margin-left:13px;" if:true={fileUploadCount}>{fileUploadSuccessMessage}</div>  
</lightning-card>
</template>