.search__button {
    background-color: white;
    border-width: 1px;
    border-color: black;
    margin-left: -4px;
    height: 30px;
    border-radius: 0px 8px 8px 0px;
    border-left: none;
    padding-bottom: 5px;
    width: 30px;
}

.search__input {
    border-color: black;
    border-width: 1px;
    height: 30px;
    border-radius: 8px 0px 0px 8px;
    border-right: none;
    width: 75%;
    padding: 5px;
}

.search__input:focus {
    outline: none;
}

.search__button:hover {
    cursor: pointer;
}

.search__input .placeholder {
    padding: 15px;
}