<template> 
 <div style="border: 1px solid rgb(242, 240, 240);padding:10px 5px 5px 10px">
     <div class="icon-heading" style="display:inline-flex;">
     <img src={contactSearchIcon} style="width:20px ;height:25px;margin-top:4px;">
            <h2 style="padding-left:5px;"><b>Contact Lookup</b></h2>
            </div>
            <div style="display:inline-flex;width:100%;padding:0px 10px 3px 10px;margin-top:5px;">
        <input onchange={handleChange} onsearch={HandleSearch} type="search" placeholder="Search" class="search__input"/>
        <button class="search__button" onclick={HandleSearch}><img src={SearchIcon}/></button>
       
    </div>
     <p style="display:none;color:red;margin-left:12px" class="inputRequiredText">Enter at least 3 characters</p>
</div>

    
    <!--Use template if:true to display/hide popup based on isModalOpen value--> 
    <template if:true={isModalOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Contacts Search Results</h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div style="background:#E8E8E8;" class="slds-modal__content slds-p-around_medium slds-is-relative" id="modal-content-id-1">                  
                     <c-search-results search-input={searchInput}></c-search-results>
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <!--footer class="slds-modal__footer">
                    
                    <button class="slds-button slds-button_brand" onclick={closeModal} title="OK">OK</button>
                </footer-->
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>




</template>