<template>
    <div class="file-uploader">
        <lightning-file-upload
            label={componentlabel}
            name="fileUploader"
            record-id={recordId.data}
            accept={acceptedformat}
            onuploadfinished={handleUploadFinished}>
        </lightning-file-upload>
    </div>
    
</template>