<template>
    <div class="slds-col slds-size--1-of-1 margin-div" style="display: inline-flex;align-items: center;margin-top:30px;"> 
        <input type="checkbox" id="declarationcheckbox" data-id="privacydisclaimer" name="privacydisclaimercheckbox" onchange={checkboxChecked} style="height: 15px;width:18px;margin-right:8px;margin-top:5px;margin-bottom:5px;">
       <label for="declarationcheckbox" style="font-size:12px;font-family: Verdana;color:grey;">I have read through the above instructions and am ready with the details to proceed with onboarding.</label><br>
     </div>
     
    <div class="submit-button" style="text-align: center;">
        <lightning-button variant="brand" style="text-align: center; background-color: #00adef;" label="Proceed" title="Successful action" disabled={disabledCondition} onclick={handleNavigate}
        class="slds-m-left_x-small"></lightning-button>
    </div>
</template>