<template>  
  <div class="search-results-container">
    <div class="search-results-list" >
    <template if:true={loaded}>
 <template if:true={contactListNotEmpty}>
   <template for:each={contactList} for:item="contact"> 
<div key={contact} class="main-secondary-details">
     <div key={contact} class="search-main" >
       
      <div class="image-details" >
<img class='profileImg' src={contact.profilePhoto}>
</div>


<div class="search-details">
<p  style="font-size:16px"> {contact.name}</p>
<p  style="font-size:14px">{contact.role}</p>
<p  style="font-size:14px">{contact.employeeTeam}</p>

</div>

</div>

<div key={contact} class="search-secondary-details">

 <lightning-accordion allow-multiple-sections-open>                            
        <lightning-accordion-section name="contact" label="Contact" >
          <div class="accordion-details">            
              <ul style="list-style: none;overflow: hidden;text-overflow: ellipsis;"> 

  <li class="list-view"><img src={contactDetailsMail}/>&nbsp;<a href={contact.MailToLink}>{contact.Email}</a></li>
   <li class="list-view"><img src={contactDetailsPhone}/>&nbsp;{contact.MobilePhone}</li>
  <li class="list-view"> <img src={contactDetailsLocation}/>&nbsp;{contact.officeLocation}</li>
</ul>
           </div> 
        </lightning-accordion-section>


            <lightning-accordion-section name="organization" label="Organization">
             
            <div class="accordion-details">
               <div style="width: 25%;float: left;">
              Reports To :
               </div>              
              <div class="search-details" style="width:50%;float:left;">
<p  style="font-size:16px"> {contact.reportsToName}</p>
<p  style="font-size:14px">{contact.reportsToRole}</p>
</div>
          
           </div>
        </lightning-accordion-section>
</lightning-accordion>

</div>  
</div>     
</template>
</template>
<template if:false={contactListNotEmpty}>
      <p style="text-align: center;"> {NoRecordsToDisplayMsg}</p>
</template>
</template>
<template if:false={loaded}>
 <lightning-spinner alternative-text="Loading"></lightning-spinner>
</template>
</div>
</div>
</template>