.profileImg {
    height: 70px;
    width: 70px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.search-main {
    border: 1px solid rgb(242, 240, 240);
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    align-items: center;
    background: #E0E0E0;
    display: flex;
    margin: 20px 20px 10px 20px;
}

.search-secondary-details {
    text-align: left;
    margin: 5px 0px 20px 10px;
    font-size: 14px;
}

.search-results-container {
    background: #E8E8E8;
    padding: 20px;
}

.search-results-list {
    background: #FFFFFF;
    margin: 20px;
    padding: 10px
}

.search-details {
    width: 70%;
    float: left;
    margin-right: 120px
}

.image-details {
    width: 30%;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
}

.accordion-details {
    margin-left: 20px;
    padding: 5px;
    display: flex;
}

.main-secondary-details {
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    margin: 5px;
    padding-bottom: 13px;
}

.slds-accordion__summary {
    padding-bottom: 0px;
}

.list-view {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media only screen and (max-width: 798px) {
    /* For mobile & tablet phones: */
    .slds-modal__content {
        padding: 10px;
        background: rgb(232, 232, 232);
    }
    .search-main {
        /*inline margin remove*/
        border: 1px solid rgb(242, 240, 240);
        border-radius: 5px;
        padding: 10px;
        margin: 2px;
        align-items: center;
        background: #E0E0E0;
    }
    .search-details {
        width: 70%;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
    }
    .search-results-list {
        padding: 2px;
        background: rgb(255, 255, 255);
        margin: 0px ! important;
    }
    .search-secondary-details {
        text-align: left;
        font-size: 12px;
        margin: 5px 0 5px 0px;
    }
    .search-results-container {
        background: #E8E8E8;
        padding: 0px !important;
    }
    .image-details {
        float: left;
        margin-left: 5px;
        margin-right: 5px;
    }
    .email-para {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }
    .profileImg {
        height: 50px;
        width: 70px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }
    .slds-accordion__content {
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    .accordion-details {
        margin-left: 0px;
        padding: 0px;
        align-items: flex-start;
    }
    section.slds-accordion__section.slds-is-open {
        padding-left: 0px;
        padding-right: 0px;
    }
    .slds-p-around_medium,
    .slds-p-around--medium {
        padding: 0px !important;
    }
}