<template>
       <lightning-card >
          <div class="slds-m-around_small" style= "margin-top:10px!important;width:90%;display:inline-flex;justify-content:space-between;align-items:center;">
            <div> 
            <h2 style= "font-size: 30px;font-weight: 400;color: #002060;">Subcontractor Information(IMS 1002)</h2>
             <p style= "color:#002060;">Please complete the required information for your business as applicable to ensure we hold your bank account details for payments and appropriate contacts.</p>
            </div>
            <img  src={SO_logourl} style="justify-content:right;max-width: 30%;"/>
          </div>
       </lightning-card>
      <lightning-record-edit-form object-api-name="Case" >
        <template if:true={dontshowNextFields}>
            <div class="slds-section slds-is-open">
                <h3 class="slds-section__title slds-theme_shade">
                   <span style="font-size:20px;font-family: Verdana;"  title="Section Title">Subcontractor Information</span>
                </h3>
         
                <div aria-hidden="false" class="slds-section__content">
                   <div class="slds-grid slds-wrap slds-gutters">
                      <div class="slds-col slds-size--1-of-2 margin-div">
                         <label for="suppliedcompany" style="font-size:15px;font-family: Verdana" >Company Name<span style="color: red;">*</span></label>
                         <lightning-input id="suppliedcompany" data-id="SuppliedCompany" variant="label-hidden" value={recordObj.SuppliedCompany} onchange={handleCaseChange}  required>
                         </lightning-input>
                       
                      </div>
                      <div class="slds-col slds-size--1-of-2 margin-div">
                         <label for="nzbnNumber" style="font-size:15px;font-family: Verdana">NZBN Number<span style="color: red;">*</span></label>
                         <lightning-input id="nzbnNumber" data-id="NZBN_Number__c" variant="label-hidden" value={recordObj.NZBN_Number__c} onchange={handleCaseChange} required>
                         </lightning-input>
                      </div>
                   </div>
                   <div class="slds-grid slds-wrap slds-gutters">
                      <div class="slds-col slds-size--1-of-2 margin-div">
                         <label for="gstnumber" style="font-size:15px;font-family: Verdana">GST Number<span style="color: red;">*</span></label>
                         <lightning-input id="gstnumber" data-id="GST_Number__c" variant="label-hidden" value={recordObj.GST_Number__c} onchange={handleCaseChange} required>
                         </lightning-input>
                      </div>
                   </div>
                        <h3 class="slds-section__title slds-theme_shade">
                           <span style="font-size:20px;font-family: Verdana;"  title="Section Title">Address Information</span>
                        </h3>
                        <div aria-hidden="false" class="slds-section__content">
                  
                     <div class="slds-grid slds-wrap slds-gutters">
                           <div class="slds-col slds-size--1-of-2 margin-div"> 
                           <label for="postaladdress" style="font-size:15px;font-family: Verdana">Postal Address:</label>
                           </div>

                           <div class="slds-col slds-size--1-of-2 margin-div"> 
                              <label for="postaladdress" style="font-size:15px;font-family: Verdana">Physical Address:</label>
                              
                              <lightning-input id="addresscheckbox" style="font-size:15px;font-family: Verdana" data-id="Sameaddress" label="Same as Postal Address" type="checkbox"  checked={sameAddress} disabled={setdisable}  onchange={handleCaseChange} >
                              </lightning-input> 
                           </div>

                              

                        <div class="slds-col slds-size--1-of-2 margin-div">
                           <label for="postaladdress" style="font-size:15px;font-family: Verdana">Address Line 1</label>
                           <lightning-input id="postaladdress" data-id2="Postal_Address__c" data-id="Postal_Address__c" variant="label-hidden" value={recordObj.Postal_Address__c} onchange={handleCaseChange} >
                           </lightning-input>
                        </div>

                        <div class="slds-col slds-size--1-of-2 margin-div">
                            <label for="physicaladdress" style="font-size:15px;font-family: Verdana">Address Line 1</label>
                            <lightning-input id="physicaladdress" data-id2="Physical_Address__c" data-id="Physical_Address__c" variant="label-hidden" value={recordObj.Physical_Address__c} onchange={handleCaseChange} >
                            </lightning-input>
                        </div>

                     </div>

                     <div class="slds-grid slds-wrap slds-gutters">
                     
                     <div class="slds-col slds-size--1-of-2 margin-div">
                        <label for="postaladdress" style="font-size:15px;font-family: Verdana">Address Line 2</label>
                        <lightning-input id="postalsuburb" data-id2="Postal_Address_Suburb__c" data-id="Postal_Address_Suburb__c" variant="label-hidden" value={recordObj.Postal_Address_Suburb__c} onchange={handleCaseChange} >
                        </lightning-input>
                     </div>
                     
                     <div class="slds-col slds-size--1-of-2 margin-div">
                        <label for="physicaladdress" style="font-size:15px;font-family: Verdana">Address Line 2</label>
                        <lightning-input id="physicalsuburb" data-id2="Physical_Address_Suburb__c" data-id="Physical_Address_Suburb__c" variant="label-hidden" value={recordObj.Physical_Address_Suburb__c} onchange={handleCaseChange} >
                        </lightning-input>
                     </div>

                     </div>

                     <div class="slds-grid slds-wrap slds-gutters">
                  
                     <div class="slds-col slds-size--1-of-2 margin-div">
                        <label for="postaladdress" style="font-size:15px;font-family: Verdana">City</label>
                        <lightning-input id="postalcity" data-id2="Postal_Address_City__c" data-id="Postal_Address_City__c" variant="label-hidden" value={recordObj.Postal_Address_City__c} onchange={handleCaseChange} >
                        </lightning-input>
                     </div>

                     <div class="slds-col slds-size--1-of-2 margin-div">
                        <label for="physicaladdress" style="font-size:15px;font-family: Verdana">City</label>
                        <lightning-input id="physicalcity" data-id2="Physical_Address_City__c" data-id="Physical_Address_City__c" variant="label-hidden" value={recordObj.Physical_Address_City__c} onchange={handleCaseChange} >
                        </lightning-input>
                     </div>

                     </div>

                     <div class="slds-grid slds-wrap slds-gutters">
                  
                        <div class="slds-col slds-size--1-of-2 margin-div">
                           <label for="postaladdress" style="font-size:15px;font-family: Verdana">Postal Code</label>
                           <lightning-input id="postalcode" data-id2="Postal_Address_Postal_Code__c" data-id="Postal_Address_Postal_Code__c" variant="label-hidden" value={recordObj.Postal_Address_Postal_Code__c} onchange={handleCaseChange} >
                           </lightning-input>
                        </div>
   
                        <div class="slds-col slds-size--1-of-2 margin-div">
                           <label for="physicaladdress" style="font-size:15px;font-family: Verdana">Postal Code</label>
                           <lightning-input id="physicalpostalcode" data-id2="Physical_Address_Postal__c" data-id="Physical_Address_Postal__c" variant="label-hidden" value={recordObj.Physical_Address_Postal__c} onchange={handleCaseChange} >
                           </lightning-input>
                        </div>
   
                     </div>

                     </div>
                     <h3 class="slds-section__title slds-theme_shade">
                        <span style="font-size:20px;font-family: Verdana;"  title="Section Title">Additional Information</span>
                     </h3>
                     <div aria-hidden="false" class="slds-section__content">
                     <div class="slds-grid slds-wrap slds-gutters">
                      <div class="slds-col slds-size--1-of-2 margin-div">
                         <label for="bankaccountname" style="font-size:15px;font-family: Verdana">Bank Account Name</label>
                         <lightning-input id="bankaccountname" data-id="Bank_Account_Name__c" variant="label-hidden" value={recordObj.Bank_Account_Name__c} onchange={handleCaseChange} >
                         </lightning-input>
                      </div>
                      <div class="slds-col slds-size--1-of-2 margin-div">
                         <label for="bankaccountnumber" style="font-size:15px;font-family: Verdana">Bank Account Number</label>
                         <lightning-input id="bankaccountnumber" data-id="Bank_Account_Number__c" variant="label-hidden" value={recordObj.Bank_Account_Number__c} onchange={handleCaseChange} >
                         </lightning-input>
                      </div>
                   </div>
                   <div class="slds-grid slds-wrap slds-gutters">
                      <div class="slds-col slds-size--1-of-2 margin-div">
                         <label for="publicliabilityinsurer" style="font-size:15px;font-family: Verdana">Public Liability Insurer</label>
                         <lightning-input id="publicliabilityinsurer" data-id="Public_Liability_Insurer__c" variant="label-hidden" value={recordObj.Public_Liability_Insurer__c} onchange={handleCaseChange} >
                         </lightning-input>
                      </div>
                      <div class="slds-col slds-size--1-of-2 margin-div">
                         <label for="publicliabilitypolicyno" style="font-size:15px;font-family: Verdana">Public Liability Policy No</label>
                         <lightning-input id="publicliabilitypolicyno" data-id="Public_Liability_Policy_No__c" variant="label-hidden" value={recordObj.Public_Liability_Policy_No__c} onchange={handleCaseChange} >
                         </lightning-input>
                      </div>
                   </div>
                   <div class="slds-grid slds-wrap slds-gutters">
                      <div class="slds-col slds-size--1-of-2 margin-div">
                         <label for="publicliabilityexpiry" style="font-size:15px;font-family: Verdana">Public Liability Expiry</label>
                         <lightning-input type="date" id="publicliabilityexpiry" data-id="Public_Liability_Expiry__c" variant="label-hidden" value={recordObj.Public_Liability_Expiry__c} onchange={handleCaseChange} >
                         </lightning-input>
                      </div>
                      <div class="slds-col slds-size--1-of-2 margin-div">
                         <label for="publicliabilityvalueinsured" style="font-size:15px;font-family: Verdana">Public Liability Value Insured</label>
                         <lightning-input id="publicliabilityvalueinsured" data-id="Public_Liability_Value_Insured__c" variant="label-hidden" value={recordObj.Public_Liability_Value_Insured__c} onchange={handleCaseChange} >
                         </lightning-input>
                      </div>
                   </div>
                   <div class="slds-grid slds-wrap slds-gutters">
                      <div class="slds-col slds-size--1-of-2 margin-div">
                         <label for="vehicleinsuranceinsurer" style="font-size:15px;font-family: Verdana">Vehicle Insurance Insurer</label>
                         <lightning-input id="vehicleinsuranceinsurer" data-id="Vehicle_Insurance_Insurer__c" variant="label-hidden" value={recordObj.Vehicle_Insurance_Insurer__c} onchange={handleCaseChange} >
                         </lightning-input>
                      </div>
                      <div class="slds-col slds-size--1-of-2 margin-div">
                         <label for="vehicleinsurancepolicyno" style="font-size:15px;font-family: Verdana">Vehicle Insurance Policy No</label>
                         <lightning-input id="vehicleinsurancepolicyno" data-id="Vehicle_Insurance_Policy_No__c" variant="label-hidden" value={recordObj.Vehicle_Insurance_Policy_No__c} onchange={handleCaseChange} >
                         </lightning-input>
                      </div>
                   </div>
                   <div class="slds-grid slds-wrap slds-gutters">
                      <div class="slds-col slds-size--1-of-2 margin-div">
                         <label for="vehicleinsuranceexpiry" style="font-size:15px;font-family: Verdana">Vehicle Insurance Expiry</label>
                         <lightning-input  type="date" id="vehicleinsuranceexpiry" data-id="Vehicle_Insurance_Expiry__c" variant="label-hidden" value={recordObj.Vehicle_Insurance_Expiry__c} onchange={handleCaseChange} >
                         </lightning-input>
                      </div>
                   </div>
                   </div>
                </div>
            </div>
            
            <div class="slds-section slds-is-open">
                <h3 class="slds-section__title slds-theme_shade">
                   <span style="font-size:20px;font-family: Verdana"  title="Section Title">Key Contacts</span>
                </h3>
                <div aria-hidden="false" class="slds-section__content">
                    <template for:each={casecontactArray} for:item="casecon" for:index="index">
                    
                    <div key={casecon.sObjectType} class="slds-grid slds-wrap slds-gutters">
                        <div class="slds-col slds-size--1-of-6 margin-div">
                            <label for="pcontacttype" style="font-size:15px;font-family: Verdana">Contact Type</label>
                            <select name="region" class="slds-input" data-id="Contact_Type__c" data-id1={index} onchange={handleChange} required={makerequired}>
                                <option value="">---None---</option>
                                <template for:each={selectContactTypeTargetValues.data} for:item="selectOptItem">
                                   <option key={selectOptItem.custFldvalue} value={selectOptItem.custFldvalue}>
                                      {selectOptItem.custFldlabel}
                                   </option>
                                </template>
                            </select>
                        </div>

                        <div class="slds-col slds-size--1-of-6 margin-div">
                            <label for="psalutation" style="font-size:15px;font-family: Verdana">Salutation</label>
                            <select name="region" class="slds-input" data-id="Salutation__c" data-id1={index} onchange={handleChange}  required={makerequired}>
                                <option value="">---None---</option>
                                <template for:each={selectSalutationTargetValues.data} for:item="selectOptItem">
                                   <option key={selectOptItem.custFldvalue} value={selectOptItem.custFldvalue}>
                                      {selectOptItem.custFldlabel}
                                   </option>
                                </template>
                            </select>
                              
                        </div>

                        <div class="slds-col slds-size--1-of-6 margin-div">
                            <label for="pfirstname" style="font-size:15px;font-family: Verdana">First Name</label>
                            <lightning-input data-id="First_Name__c" data-id1={index} variant="label-hidden" value={casecon.First_Name__c} onchange={handleChange}  required={makerequired} >
                            </lightning-input>
                           <div class="error-email" if:true={emailErrorMessage}>
                              {emailErrorMessage}
                           </div>
                        </div>

                        <div class="slds-col slds-size--1-of-6 margin-div">
                            <label for="plastname" style="font-size:15px;font-family: Verdana">Last Name</label>
                            <lightning-input data-id="Last_Name__c" data-id1={index} variant="label-hidden" value={casecon.Last_Name__c} onchange={handleChange} required={makerequired} >
                            </lightning-input>
                        </div>

                        <div class="slds-col slds-size--1-of-6 margin-div">
                            <label for="pphone" style="font-size:15px;font-family: Verdana">Phone</label>
                            <lightning-input data-id="Phone__c" data-id1={index} variant="label-hidden" value={casecon.Phone__c} onchange={handleChange} required={makerequired} >
                            </lightning-input>
                        </div>

                        <div class="slds-col slds-size--1-of-6 margin-div">
                            <label for="pemail" style="font-size:15px;font-family: Verdana">Email</label>
                            <lightning-input data-id="Email__c" data-id1={index} variant="label-hidden" value={casecon.Email__c} onchange={handleChange} required={makerequired} >
                            </lightning-input>
                        </div>
                    </div>
                    </template>
                   </div> 

            </div>

            <div style="text-align:right;">
               <lightning-button variant="brand" name="next" label="Next" onclick={handleNext}>
               </lightning-button>
           </div>

         </template> 
           
            <template if:true={showNextFields}>
               <div class="slds-m-around_large">

                  <div if:true={isLoaded} class="slds-is-relative">
                     <lightning-spinner
                         alternative-text="Saving..." variant="brand">
                     </lightning-spinner>
                 </div>
                 </div>
               <div class="slds-section slds-is-open">
                  <h3 class="slds-section__title slds-theme_shade">
                     <span style="font-size:20px;font-family: Verdana" class="slds-truncate slds-p-horizontal_small" title="Section Title">Upload files</span>
                  </h3>
                  <div aria-hidden="false" class="slds-section__content">
               <div class="slds-grid slds-wrap slds-gutters">

                  <div class="slds-col slds-size_1-of-2 margin-div">
                     <label id="label1" style="font-size:15px;font-family: Verdana">Switched On Contractor Agreement(IMS 1010)<span style="color: red;">*</span></label>
                        <div class="file-container1">
                         <c-file-upload onuploadcomplete={uploadCompleteHandlerSOAgreement} acceptedformat={supportedFiles}></c-file-upload>
                           <div class="file-entry1">
                            {socontractoragreementfilename}
                           </div>
                        </div>
                        <div class="error-msg hide-error">
                           Upload a file.
                        </div>
                  </div>

                  <div class="slds-col slds-size_1-of-2 margin-div">
                     <label style="font-size:15px;font-family: Verdana">Contract for Sub Contractors Additional Terms(IMS 1011)<span style="color: red;">*</span></label>
                        <div class="file-container1">
                         <c-file-upload onuploadcomplete={uploadCompleteHandlerAdditionalTerms} acceptedformat={supportedFiles}></c-file-upload>
                           <div class="file-entry1">
                            {additionaltermsfilename}
                           </div>
                        </div>
                        <div class="error-msg hide-error">
                           Upload a file.
                        </div>
                  </div>

                  <div class="slds-col slds-size_1-of-2 margin-div">
                     <label style="font-size:15px;font-family: Verdana">H and S and Quality Pre-Qual List(IMS 1021)<span style="color: red;">*</span></label>
                        <div class="file-container1">
                         <c-file-upload onuploadcomplete={uploadCompleteHandlerHandS} acceptedformat={supportedFiles}></c-file-upload>
                           <div class="file-entry1">
                            {HandSfilename}
                           </div>
                        </div>
                        <div class="error-msg hide-error">
                           Upload a file.
                        </div>
                  </div>

                  <div class="slds-col slds-size_1-of-2 margin-div">
                     <label style="font-size:15px;font-family: Verdana">Prequal H&S Questionnaire(IMS 1039)<span style="color: red;">*</span></label>
                        <div class="file-container1">
                         <c-file-upload onuploadcomplete={uploadCompleteHandlerInfoandApproval} acceptedformat={supportedFiles}></c-file-upload>
                           <div class="file-entry1">
                            {Infoandapprovalfilename}
                           </div>
                        </div>
                        <div class="error-msg hide-error">
                           Upload a file.
                        </div>
                  </div>

                  <div class="slds-col slds-size_1-of-2 margin-div">
                     <label style="font-size:15px;font-family: Verdana">Kainga Ora Pledge(IMS 1044)<span style="color: red;">*</span></label>
                        <div class="file-container1">
                         <c-file-upload onuploadcomplete={uploadCompleteHandlerKOPledge} acceptedformat={supportedFiles}></c-file-upload>
                           <div class="file-entry1">
                            {KOpledgefilename}
                           </div>
                        </div>
                        <div class="error-msg hide-error">
                           Upload a file.
                        </div>
                  </div>

                  <div class="slds-col slds-size_1-of-2 margin-div">
                     <label style="font-size:15px;font-family: Verdana">Public Liability Certificate</label>
                        <div class="file-container1">
                         <c-file-upload onuploadcomplete={uploadCompleteHandlerPublicLiabilityCertificate} acceptedformat={supportedFiles}></c-file-upload>
                           <div class="file-entry1">
                            {PublicLiabilityCertificatefilename}
                           </div>
                        </div>
                        <div class="error-msg hide-error">
                           Upload a file.
                        </div>
                  </div>
                  
                  <div class="slds-col slds-size_1-of-2 margin-div">
                     <label style="font-size:15px;font-family: Verdana">Vehicle Insurance</label>
                        <div class="file-container1">
                         <c-file-upload onuploadcomplete={uploadCompleteHandlerVehicleInsurance} acceptedformat={supportedFiles}></c-file-upload>
                           <div class="file-entry1">
                            {VehicleInsurancefilename}
                           </div>
                        </div>
                        <div class="error-msg hide-error">
                           Upload a file.
                        </div>
                  </div>

               </div>
              
       
                  <div style="margin: 10 auto; text-align: center;">
                  <lightning-button style="margin: 20px ; width: 656px; text-align: center;" variant="brand" name="previous" label="Previous" onclick={handlePrevious}>
                  </lightning-button>
            
                  <lightning-button style="margin: 20px ; width: 656px; text-align: center;" variant="brand" name="save" label="Submit" onclick={handleSubmit}>
                  </lightning-button>
                  
               </div>
              
      </div>   
   </div>
</template>
   </lightning-record-edit-form>
</template>