@media screen and (max-width: 900px) {
    .column {
      width: 25%;
    }
  }

.file-container {
    border: 1px solid rgb(242, 242, 242);
}

.file-container1 {
    border: 1px solid rgb(242, 242, 242);
}

.formCss {
    padding: 15px;
    background-color: #fafafa;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 0 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.error-css {
    border-color: rgb(194, 57, 52) !important;
}

.error-msg, .error-email {
    font-size: .75rem;
    margin-top: .125rem;
	color: rgb(194, 57, 52);
}

label {
    font-weight: 500;
}

.hide-error {
    display: none;
}

.show-error {
    display: block;
}

.margin-div {
    margin-bottom: 10px;
}