.THIS .displaynone {
    display:none;
}


@media only screen and (max-width: 498px) {
  /* For mobile phones: */
  .THIS .left_sidebar {
     width:100%;
  }
  .THIS .right_sidebar{
     margin-right: 2px!important;
   }
   .THIS .middle-section{
      margin-right: 2px !important;
    }
    .THIS .slds-col.slds-m-bottom_x-small.slds-m-left_x-small {
    margin-left: 2px !important;
	}

	.THIS .slds-col.slds-m-bottom_x-small.slds-m-right_x-small {
    margin-right: 2px !important;
	}
}