<template>
<template if:false={loaded}>
<lightning-spinner  alternative-text="Loading..." size="small">
            </lightning-spinner>
</template>

<div style="display:block" class="celebrationContainer slds-p-around_small">
    <div class="celebrationwrapper" style="height:106px; overflow-y:hidden;">
        <template if:true={loaded}>
    <template if:true={details}>
      <template for:each={details} for:item="userDetail">
        <div key={userDetail} class="demo-only slds-size_3-of-4 slds-m-top_xx-small slds-m-bottom_xx-small" > 
            <div class="slds-media slds-media_responsive">
            <div class="slds-media__figure">
            <span class="slds-avatar slds-avatar_large">
            <img alt="Person name" src={userDetail.profilePhoto} title="User avatar" />
            </span>
            </div>
            <div class="slds-media__body">
            <p>{userDetail.name}</p>
            <p>{userDetail.dateValue}</p>
            </div>
            </div>
            </div>          
      </template>
        </template>
        <template if:false={details}>
       {noRecordsDisplayMsg}
    </template>
        </template>

        <!--template if:false={loaded}>
<lightning-spinner  alternative-text="Loading..." size="small">
            </lightning-spinner>
</template-->
    </div>
</div>
</template>