<template>   
    <div class="slds-card">
<div class="slds-card__header slds-grid">
<div class="slds-media slds-media_center slds-has-flexi-truncate">
<div class="slds-media__body">

<div class="demo-only" >

<div class="slds-nav-vertical">

<div class="slds-nav-vertical__section">
    <div class="icon-heading" style="display:inline-flex;">
     <img src={LinksIcon} style="width:20px ;height:20px;margin:6px 5px 0px 10px;">
<h2 id="folder-header" >{LinksHeading}</h2>
    </div>
<ul class="vertical-nav"> 
    <template if:true={LinksData}> 
                <template for:each={LinksData} for:item="link">
                   <li key={link} class="slds-nav-vertical__item">
    <a href={link.Link_URL__c} class="slds-nav-vertical__action" target="_blank">{link.MasterLabel}</a>
</li>               
</template>
</template>
</ul>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</template>