.container {
    border: 1px solid rgb(242, 240, 240);
}

.article-image {
    width: 100%;
    height: 100px;
    object-fit: fill;
}


/*
.mediaContainer {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}*/

.cmsHeading {
    margin-top: 5px;
    padding: 10px;
    font-size: 20px !important;
}

li>a {
    border: 1px solid #bdbdbd;
    padding: 10px;
}

a {
    text-decoration: none;
    /* color: #3f51b5;*/
    color: rgb(24, 152, 228);
}

.selected {
    background: rgb(24, 152, 228);
    color: white;
}

.content-item-date {
    font-family: Verdana !important;
    font-size: 12px;
    line-height: 1;
    display: block;
    color: rgb(51, 51, 51);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content-item-subtitle {
    margin-bottom: 10px;
    float: left;
}

.content-item-title {
    font-family: Verdana ! important;
    font-size: 15px ! important;
    font-weight: 400;
    float: left;
}

.content-item {
    position: relative;
    padding-bottom: 10px;
}

a.content-item-button {
    font-weight: 700;
    /*color: #3f51b5;*/
    color: rgb(24, 152, 228);
    border-radius: 5em;
    background-color: #f5f5f5;
    transition: all ease-in .15s;
    font-size: 15px;
    line-height: 1.5;
    padding: 10px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding-right: 25px;
    padding-left: 25px;
    width: 70%;
    float: left;
}

.pagination-container ul li:first-child a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination-container a {
    /*border-color: #3f51b5;*/
    border-color: rgb(24, 152, 228);
    line-height: 1.42857143;
    position: relative;
    float: left;
    margin-left: -1px;
    padding: 6px 12px;
    text-decoration: none;
    /*color: #3f51b5;*/
    color: rgb(24, 152, 228);
    border: 1px solid #bdbdbd;
    background-color: #fff;
}

.pagination-container ul li:last-child a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.blog-pagination-left a:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blog-pagination-right a:before {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pagination-container a.selected {
    pointer-events: none;
    cursor: default;
    z-index: 3;
    cursor: default;
    color: #fff;
    /*border-color: #3f51b5;
    background-color: #3f51b5;*/
    border-color: rgb(24, 152, 228);
    background-color: rgb(24, 152, 228);
}

.content-item-title h2 {
    font-family: Verdana ! important;
    font-size: 20px ! important;
    font-weight: 400;
    margin: 5px 0 10px;
}

.content-item-subtitle p {
    margin: 0 0 10px;
}

.UnreadContent {
    color: #000000;
}

.readContent {
    color: #004365;
}

.nopost-section {
    font-size: 15px;
    margin-left: 5px;
}

@media only screen and (max-width: 798px) {
    /* For mobile & tablet phones: */
    .article-image {
        width: 100%;
        height: 60px;
        object-fit: fill;
    }
}