<template>    
    <div class="container">
        <h2 class="cmsHeading" style="font-size: var(--lwc-fontSizeHeadingMedium, 1.125rem);font-weight: var(--lwc-fontWeightBold, 700);">Landing Page</h2>
        <div class="content-items">
            <template for:each={contentList} for:item="content"> 
<div key={content} style="border:1px solid rgb(242,240,240);padding: 10px;">
                <div class="content-item" key={content.Id}>
                    <div class="content-item-main" style="display: flex;align-items:flex-start;">
                       <template if:true={content.ContentImage}> 
                        <div class="content-title-subtitle"  style="width:80%;float:left;display:inline-grid">
                    <div class="content-item-title">
                        <a href={content.url} onclick={handleClick} data-id={content.Id}>
                            <h2>
                                <template if:true={content.isViewed}>
                                   <lightning-formatted-rich-text id={content.ContentType} data-id={content.Id} value={content.title}  class="readContent"></lightning-formatted-rich-text>
                                </template>
<template if:false={content.isViewed}>  
                                    <lightning-formatted-rich-text id={content.ContentType} data-id={content.Id} value={content.title}  class="UnreadContent"></lightning-formatted-rich-text> 
                                </template>
</h2>
</a>
</div>
<div class="content-item-subtitle">
    <p>
        <lightning-formatted-rich-text value={content.subtitle}></lightning-formatted-rich-text>
    </p>
</div>
</div>
<div style="float: left;width: 20%;">
    <img src={content.ContentImage} class="article-image">
</div>

</template>

<template if:false={content.ContentImage}>
                <div class="content-title-subtitle"  data-id={content.Id} style="width:100%;float:left">
                    <div class="content-item-title">
                        <a href={content.url} onclick={handleClick} data-id={content.Id}>
                            <h2>
                                <template if:true={content.isViewed}>
                                    <lightning-formatted-rich-text id={content.ContentType} data-id={content.Id} value={content.title}  class="readContent"></lightning-formatted-rich-text>
                                </template>

<template if:false={content.isViewed}>
                                    <lightning-formatted-rich-text id={content.ContentType} data-id={content.Id} value={content.title}  class="UnreadContent"></lightning-formatted-rich-text>
                                </template>

</h2>

</a>
</div>
<div class="content-item-subtitle">
    <p>
        <lightning-formatted-rich-text value={content.subtitle}></lightning-formatted-rich-text>
    </p>
</div>
</div>

</template>
</div>

<div style="display:flex;justify-content: space-between;margin-top: 10px;">
    <div class="content-item-button">
        <img src={ViewCountLogo} style="width: 20px;height: 20px;float:left">&nbsp;{content.ViewCount}
    </div>
    <div class="content-publishedDate" style="width:50%;float:right;text-align: end;">
        Published On :&nbsp; {content.publishedDate}
    </div>
</div>
</div>
</div>
</template>
</div>



<div if:true={showNoPostBlock} class="nopost-section">
    {noPostAvailable}
</div>
<div class="testImgCheck">


</div>

<div class="pagination-container" style="clear: both;padding: 21px 0;">
    <ul style="display: inline-block; list-style: none;" if:true={showPagination}>
        <li if:true={showPrevious} style="display: inline-block;" class="blog-pagination-left"><a href="javascript:void(0)" onclick={navigateToPage} data-id="prev">&#10094;</a></li>
        <template for:each={paginationConfs} for:item="pageConf">
                    <li key={pageConf.Id} style="display: inline-block;" class="blog-pagination-center">
                        <a if:true= {pageConf.shouldShow} class={pageConf.cssclass} href="javascript:void(0)" data-id={pageConf.pagenumber} onclick={navigateToPage}>{pageConf.pagenumber}</a>
                    </li>
                </template>
        <li if:true={showNext} style="display: inline-block;" class="blog-pagination-right"><a href="javascript:void(0)" onclick={navigateToPage} data-id="next">&#10095;</a></li>
    </ul>
</div>
</div>
</template>