.THIS .slds-wrap {
    padding: 2px !important;
    width: 100% !important;
}


.THIS .fullWidthSections{
     width: 100% !important;
     margin: 7px;
     margin-left: 10px;
	 display: inline-flex;
}

.THIS .fieldLeft{
     display: inline-flex;
     align-items : center;
     margin-top: 10px;
     width: 60%;
    padding-inline-start: 10px;
}

.THIS .fieldRight{
     display: inline-flex;
     align-items : center;
     margin-top: 10px;
     width: 40%;
    padding-inline-start: 20px;
}

.THIS .fieldLabel{
    font-size : 14px;
    font-weight : 600;
}

.THIS .output{
    margin-left: 3px; 
}



.THIS .checkboxstyle{
    margin-left:20%;
    width: 100%;
}

.THIS .outputfieldwidth{
    width : 100%;
    float : right
}

.THIS .toggle_condition{
    margin-top : 10px;
    display: inline-flex;
    align-items : center; 
    width : 100%;
    margin-left : 2%;
}

.THIS .slds-float_right{
    width : 10%;
    margin-left:20px;
}