@media screen and (max-width: 900px) {
    .column {
      width: 25%;
    }
  }
  .file-container {
    border: 1px solid rgb(242, 242, 242);
}

.file-container1 {
    border: 1px solid rgb(242, 242, 242);
}
.slds-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
}

.formCss {
    padding: 10px;
    border-radius: 1px;  
}

.main-form{
    padding: 25px;
    background-color: #fafafa;
    border-radius: 0pxpx;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 0 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
}

.error-css {
    border-color: rgb(194, 57, 52) !important;
}

.error-msg1 {
    font-size: .75rem;
    margin-top: .125rem;
	color: rgb(194, 57, 52);
}

.slds-float_right{
    float : right;
}

.toggle_condition{
    margin-top: 8px;
    display: inline-flex;
    align-content: space-around;
    align-items: flex-start;
    width : 100%
}

.hide-error1 {
    display: none;
}

.show-error1 {
    display: block;
}

.error-msg, .error-email {
    font-size: .75rem;
    margin-top: .125rem;
	color: rgb(194, 57, 52);
}



.hide-error {
    display: none;
}

.show-error {
    display: block;
}

.margin-div {
    margin-bottom: 10px;
    margin-top: 10px;

}

.slds-checkbox_toggle.slds-grid {
    
    display: inline-flex;
    font-size: 15px;
    font-family: Verdana;
}
h2{
    font-size: 30px;
	font-weight: 700;
	color: cornflowerblue;
}

.slds-m-around_small {
    width: 100%;
    margin-left: 10px !important;
   display: inline-flex;      
   justify-content: space-between;

}