<template>
    <lightning-card >
        <div class="slds-m-around_small" style= "margin-top:10px!important;width:90%;display:inline-flex;justify-content:space-between;align-items:center;">
          <div> 
          <h2 style= "font-size: 30px;font-weight: 400;color: #002060;">Induction Request(IMS-1043-4.0)</h2>
           <p style= "color:#002060;">Please complete the required information for your inductee.</p>
          </div>
          <img  src={SO_logourl} style="justify-content:right;max-width: 30%;"/>
        </div>
     </lightning-card>

      <lightning-record-edit-form object-api-name="Case" >
               <template if:true={dontshowNextFields}>
                <div class="slds-section slds-is-open">
                  <h3 class="slds-section__title slds-theme_shade">
                     <span style="font-size:20px;font-family: Verdana;"  title="Section Title">Subcontractor Details</span>
                  </h3>
                  <div aria-hidden="false" class="slds-section__content">

              <div class="slds-grid slds-wrap slds-gutters  ">
              
                  <div class="slds-col slds-size_1-of-3 margin-div">
                      <label for="SuppliedCompany" style="font-size:15px;font-family: Verdana;">Company Name<span style="color: red;">*</span></label>
                    <lightning-input id="SuppliedCompany" data-id="SuppliedCompany" variant="label-hidden" value={recordObj.SuppliedCompany}  onchange={handleChange} required>

                      </lightning-input>
                  </div>
                  <div class="slds-col slds-size_1-of-3 margin-div">
                    <label for="Admin_Email__c" style="font-size:15px;font-family: Verdana;">Admin Email<span style="color: red;">*</span></label>
                    <lightning-input id="Admin_Email__c" data-id="Admin_Email__c" variant="label-hidden" value={recordObj.Admin_Email__c} onchange={handleChange} required>

                    </lightning-input>
                </div>
                <div class="slds-col slds-size_1-of-3 margin-div">
                    <label for="Admin_Phone__c" style="font-size:15px;font-family: Verdana;">Admin Phone</label>
                    <lightning-input id="Admin_Phone__c" data-id="Admin_Phone__c" variant="label-hidden" value={recordObj.Admin_Phone__c} onchange={handleChange} required>

                    </lightning-input>
                </div>
              </div>
             </div>
             </div>
             
                <div class="slds-section slds-is-open">
                  <h3 class="slds-section__title slds-theme_shade">
                     <span style="font-size:20px;font-family: Verdana;"  title="Section Title">Inductee Details</span>
                  </h3>
                  <div aria-hidden="false" class="slds-section__content">
                <div class="slds-form slds-grid slds-gutters">

                 <div class="slds-col slds-size_1-of-4 margin-div">
                  <label for="region" style="font-size:15px;font-family: Verdana;">Salutation</label>
                  
                  <select id="Salutation__c" name="region" class="slds-input" data-id="Salutation__c" onchange={handleChange}>
                      <template for:each={selectSalutationTargetValues.data} for:item="selectOptItem">
                          <option key={selectOptItem.custFldvalue} value={selectOptItem.custFldvalue}>
                          {selectOptItem.custFldlabel}
                         </option>
                      </template>
              </select>
              </div>
                  <div class="slds-col slds-size_1-of-4 margin-div">
                 <label for="First_Name__c" style="font-size:15px;font-family: Verdana;">First Name<span style="color: red;">*</span></label>
                      <lightning-input id="First_Name__c" data-id="First_Name__c" variant="label-hidden" value={recordObj.First_Name__c} onchange={handleChange} required>
                        </lightning-input>
                  </div>
              
          
                  <div class="slds-col slds-size_1-of-4 margin-div">
                      <label for="Last_Name__c" style="font-size:15px;font-family: Verdana;">Last Name<span style="color: red;">*</span></label>
                      <lightning-input id="Last_Name__c" data-id="Last_Name__c" variant="label-hidden" value={recordObj.Last_Name__c} onchange={handleChange} required>

                      </lightning-input>
                     
                  </div>
             
           
              <div class="slds-col slds-size_1-of-4 margin-div">
                  <label for="region" style="font-size:15px;font-family: Verdana;">Gender<span style="color: red;">*</span></label>
                 
                  <select id="Gender__c" name="region" class="slds-input" data-id="Gender__c" onchange={handleChange} required>
                      <option value="">---None---</option>                
                      <template for:each={selectGenderTargetValues.data} for:item="selectOptItem">
                          <option key={selectOptItem.custFldvalue} value={selectOptItem.custFldvalue}>
                          {selectOptItem.custFldlabel}
                          </option>
                      </template>
              </select>
              </div>
          </div>
             
          <div class="slds-grid slds-wrap slds-gutters">
            
            <div class="slds-col slds-size_1-of-4 margin-div">
              <label for="SuppliedPhone" style="font-size:15px;font-family: Verdana;">Phone<span style="color: red;">*</span></label>
              <lightning-input id="SuppliedPhone" data-id="SuppliedPhone" variant="label-hidden" value={recordObj.SuppliedPhone} onchange={handleChange} required>

              </lightning-input>
          </div>

          <div class="slds-col slds-size_1-of-4 margin-div">
            <label for="SuppliedEmail" style="font-size:15px;font-family: Verdana;">Email<span style="color: red;">*</span></label>
            <lightning-input id="SuppliedEmail" data-id="SuppliedEmail" variant="label-hidden" value={recordObj.SuppliedEmail} onchange={handleChange} required>

            </lightning-input>
        </div>

                <div class="slds-col slds-size_1-of-4 margin-div">
                  <label for="Date_of_Birth__c" style="font-size:15px;font-family: Verdana;">Date of Birth<span style="color: red;">*</span></label>
                    <lightning-input type="date"  id="Date_of_Birth__c" data-id="Date_of_Birth__c" name="Date_of_Birth__c" label="Date_of_Birth__c" variant="label-hidden" value={recordObj.Date_of_Birth__c} onchange={handleChange} required>


                  </lightning-input>
                  
              </div>
            </div>

            <div class="slds-form slds-grid slds-gutters">
          
                  <div class="slds-col slds-size_1-of-4 margin-div">
                      <label for="Postal_Address__c" style="font-size:15px;font-family: Verdana;">Address Line<span style="color: red;">*</span></label>
                      <lightning-input id="Postal_Address__c" data-id="Postal_Address__c" variant="label-hidden" value={recordObj.Postal_Address__c} onchange={handleChange} required>

                      </lightning-input>
                  </div>
                   <div class="slds-col slds-size_1-of-4 margin-div">
                      <label for="Postal_Address_Suburb__c" style="font-size:15px;font-family: Verdana;">Suburb</label>
                      <lightning-input id="Postal_Address_Suburb__c" data-id="Postal_Address_Suburb__c" variant="label-hidden" value={recordObj.Postal_Address_Suburb__c} onchange={handleChange} >

                      </lightning-input>
                  </div>
              
               <div class="slds-col slds-size_1-of-4 margin-div">
                      <label for="Postal_Address_City__c" style="font-size:15px;font-family: Verdana;">City<span style="color: red;">*</span></label>
                      <lightning-input id="Postal_Address_City__c" data-id="Postal_Address_City__c" variant="label-hidden" value={recordObj.Postal_Address_City__c} onchange={handleChange} required>

                      </lightning-input>
                  </div>

                  <div class="slds-col slds-size_1-of-4 margin-div">
                    <label for="Postal_Address_Postal_Code__c" style="font-size:15px;font-family: Verdana;">Postal Code<span style="color: red;">*</span></label>
                    <lightning-input id="Postal_Address_Postal_Code__c" data-id="Postal_Address_Postal_Code__c" variant="label-hidden" value={recordObj.Postal_Address_Postal_Code__c} onchange={handleChange} required>

                    </lightning-input>
                </div>
            
                  
              </div>
             
             

                  <div class="slds-grid slds-wrap slds-gutters">
                 
                    <div class="slds-col slds-size_1-of-4 margin-div">
                      <label for="region" style="font-size:15px;font-family: Verdana;">Ethnicity<span style="color: red;">*</span></label>
                    
                      <select id="Ethnicity__c" name="Ethnicity__c" class="slds-input" data-id="Ethnicity__c" onchange={handleChange} required>
                          <option value="">---None---</option>                
                            <template for:each={selectStatusTargetValues.data} for:item="selectOptItem">
                               <option key={selectOptItem.custFldvalue} value={selectOptItem.custFldvalue}>
                                 {selectOptItem.custFldlabel}
                               </option>
                          </template>
                    </select>
                  </div>

                  <div class="slds-col slds-size_1-of-4 margin-div">
                    <label for="region" style="font-size:15px;font-family: Verdana;">Job Title<span style="color: red;">*</span></label>
                    <select id="Job_Title__c" name="region" class="slds-input" data-id="Job_Title__c" onchange={handleChange} required>
                        <option value="">---None---</option>                
                          <template for:each={selectJobTitleTargetValues.data} for:item="selectOptItem">
                             <option key={selectOptItem.custFldvalue} value={selectOptItem.custFldvalue}>
                               {selectOptItem.custFldlabel}
                             </option>
                        </template>
                  </select>
                </div>
  
                <div class="slds-col slds-size_1-of-4 margin-div">
                    <label for="region" style="font-size:15px;font-family: Verdana;">Work/Immigration Status<span style="color: red;">*</span></label>
                    <select id="Work_Immigration_Status__c" name="region" class="slds-input" data-id="Work_Immigration_Status__c" onchange={handleChange} required>
                        <option value="">---None---</option>                
                          <template for:each={selectWorkImmigrationStatusTargetValues.data} for:item="selectOptItem">
                             <option key={selectOptItem.custFldvalue} value={selectOptItem.custFldvalue}>
                               {selectOptItem.custFldlabel}
                             </option>
                        </template>
                  </select>
                </div>

                <template if:true={showVisaExpiryDate}>
                <div class="slds-col slds-size_1-of-4 margin-div">
                    <label for="region" style="font-size:15px;font-family: Verdana;">Visa Expiry Date<span style="color: red;">*</span></label>
                    <lightning-input id="Visa_Expiry_Date__c" data-id="Visa_Expiry_Date__c" variant="label-hidden" type="date" value={recordObj.Visa_Expiry_Date__c} onchange={handleChange} required>

                      </lightning-input>
                </div>
              </template>

                  </div>

                  

              <div class="slds-grid slds-wrap slds-gutters">
              
               

              
          </div>
              <div class="slds-form slds-grid slds-gutters">

             
              </div>
              <!--logic for baselocation multiselect picklist-->
              <div class="slds-grid slds-wrap slds-gutters">
                <div class="slds-col slds-size--2-of-3 margin-div">
                    <label for="Base_Locations__c" style="font-size:15px;font-family: Verdana;">Base Locations<span style="color: red;">*</span></label>
                    <select id="Base_Locations__c" name="baseLocation" class="slds-input" data-id="Base_Locations__c" multiple onchange={changepicklisthandler} required>
                        <template for:each={pumpTypesPickListEntries} for:item="picklistObj">
                            <option key={picklistObj.elementValue} value={picklistObj.elementValue}>
                                {picklistObj.elementLabel}
                            </option>
                        </template>
                    </select>
                    <div style="font-size: 12px;">
                        Hold Ctrl to select multiple value
                    </div>
                </div>
            </div>
            </div>
            </div>
            <div class="slds-section slds-is-open">
              <h3 class="slds-section__title slds-theme_shade">
                 <span style="font-size:20px;font-family: Verdana;"  title="Section Title">Qualification Details</span>
              </h3>
              <div aria-hidden="false" class="slds-section__content">
            
                <div class="slds-grid slds-wrap slds-gutters" >
              
                  <!-- <div class="slds-col slds-size_1-of-3 margin-div">
                      <label for="Trade_Qualifications_Registrations__c" style="font-size:15px;font-family: Verdana;">Trade Qualification Registrations</label>
                      <lightning-input id="Trade_Qualifications_Registrations__c" data-id="Trade_Qualifications_Registrations__c" variant="label-hidden" value={recordObj.Trade_Qualifications_Registrations__c} onchange={handleChange}>

                      </lightning-input>
                  </div> -->

                  <div class="slds-col slds-size_1-of-4 margin-div" >
                    <label for="Trade_Qualifications_Registrations__c" style="font-size:15px;font-family: Verdana;">Trade Qualification Registrations</label>
                  
                    <select id="Trade_Qualifications_Registrations__c" name="Trade_Qualifications_Registrations__c" class="slds-input" data-id="Trade_Qualifications_Registrations__c" onchange={handleChange} required>
                        <option value="">---None---</option>                
                          <template for:each={selectTradeQualificationRegistrationTargetValues.data} for:item="selectOptItem">
                             <option key={selectOptItem.custFldvalue} value={selectOptItem.custFldvalue}>
                               {selectOptItem.custFldlabel}
                             </option>
                        </template>
                  </select>
                </div>
              
              <!--<div class="slds-grid slds-wrap slds-gutters">-->
                <template if:true={hideRegistrationNo}>

                <div class="slds-col slds-size_1-of-7 margin-div">
                  <label for="Trade_Qualifications_Registration_No__c" style="font-size:15px;font-family: Verdana;">Registration No</label>
                  <lightning-input id="Trade_Qualifications_Registration_No__c" data-id="Trade_Qualifications_Registration_No__c" variant="label-hidden" value={recordObj.Trade_Qualifications_Registration_No__c} onchange={handleChange}>

                  </lightning-input>
              </div>
                  </template>

                    <template if:true={showTradeQualificationFields}>
                      
                      <div class="slds-col slds-size_1-of-7 margin-div">
                        <label for="Licence_Type__c" style="font-size:15px;font-family: Verdana;">Licence Type</label>
                        <lightning-input id="Licence_Type__c" data-id="Licence_Type__c" variant="label-hidden" value={recordObj.Licence_Type__c} onchange={handleChange}>
      
                        </lightning-input>
                    </div>
                      
                      
                      <div class="slds-col slds-size_1-of-7 margin-div">
                        <label for="Trade_Qualifications_Registration_No__c" style="font-size:15px;font-family: Verdana;">Registration No</label>
                        <lightning-input id="Trade_Qualifications_Registration_Noduplicate__c" data-id="Trade_Qualifications_Registration_No__c" variant="label-hidden" value={recordObj.Trade_Qualifications_Registration_No__c} onchange={handleChange}>
  
                        </lightning-input>
                    </div>
                    

                    <div class="slds-col slds-size_1-of-7 margin-div">
                      <label for="Expiry_date_of_registration_license__c" style="font-size:15px;font-family: Verdana;">Expiry Date<span style="color: red;">*</span></label>
                      <lightning-input type="date" id="Expiry_date_of_registration_license__c" data-id="Expiry_date_of_registration_license__c" variant="label-hidden" value={recordObj.Expiry_date_of_registration_license__c} onchange={handleChange} required>

                      </lightning-input>
                  </div>
                  
                
                    
                </template>
                <div class="slds-col slds-size_1-of-7 margin-div" style="margin-top: 32px;">
                  <template if:true={showHideAdd1}>

                <lightning-button style=" width: 656px; text-align: center;" variant="bare" name="add" label="Add" data-id="Add1" onclick={handleAdd}>
                </lightning-button>
                </template>
                </div>
                </div>      
                
                <div class="slds-grid slds-wrap slds-gutters">

                  <template if:true={showQualificationFields1}>
  
                    <div class="slds-col slds-size_1-of-4 margin-div">
                      <label for="Trade_Qualifications_Registrations2__c" style="font-size:15px;font-family: Verdana;">Trade Qualification Registrations</label>
                    
                      <select id="Trade_Qualifications_Registrations2__c" name="Trade_Qualifications_Registrations2__c" class="slds-input" data-id="Trade_Qualifications_Registrations2__c" onchange={handleChange} required>
                          <option value="">---None---</option>                
                            <template for:each={selectTradeQualificationRegistrationTargetValues.data} for:item="selectOptItem">
                               <option key={selectOptItem.custFldvalue} value={selectOptItem.custFldvalue}>
                                 {selectOptItem.custFldlabel}
                               </option>
                          </template>
                    </select>
                  </div>
                
                <!--<div class="slds-grid slds-wrap slds-gutters">-->
                  <template if:true={hideRegistrationNo1}>
  
                  <div class="slds-col slds-size_1-of-7 margin-div">
                    <label for="Trade_Qualifications_Registration_No2__c" style="font-size:15px;font-family: Verdana;">Registration No</label>
                    <lightning-input id="Trade_Qualifications_Registration_No2__c" data-id="Trade_Qualifications_Registration_No2__c" variant="label-hidden" value={recordObj.Trade_Qualifications_Registration_No2__c} onchange={handleChange}>
  
                    </lightning-input>
                </div>
                </template>
                      <template if:true={showTradeQualificationFields1}>
                   
                        <div class="slds-col slds-size_1-of-7 margin-div">
                          <label for="Licence_Type_2__c" style="font-size:15px;font-family: Verdana;">Licence Type</label>
                          <lightning-input id="Licence_Type_2__c" data-id="Licence_Type_2__c" variant="label-hidden" value={recordObj.Licence_Type_2__c} onchange={handleChange}>
        
                          </lightning-input>
                      </div>
  
                        <div class="slds-col slds-size_1-of-7 margin-div">
                          <label for="Trade_Qualifications_Registration_No2__c" style="font-size:15px;font-family: Verdana;">Registration No</label>
                          <lightning-input id="Trade_Qualifications_Registration_No2duplicate__c" data-id="Trade_Qualifications_Registration_No2__c" variant="label-hidden" value={recordObj.Trade_Qualifications_Registration_No2__c} onchange={handleChange}>
    
                          </lightning-input>
                      </div>
  
                      <div class="slds-col slds-size_1-of-7 margin-div">
                        <label for="Expiry_date_of_registration_license_2__c" style="font-size:15px;font-family: Verdana;">Expiry Date<span style="color: red;">*</span></label>
                        <lightning-input type="date" id="Expiry_date_of_registration_license_2__c" data-id="Expiry_date_of_registration_license_2__c" variant="label-hidden" value={recordObj.Expiry_date_of_registration_license_2__c} onchange={handleChange} required>
  
                        </lightning-input>
                    </div>
                    
                    
  
                      
  
                  </template>
                  <div class="slds-col slds-size_2-of-7 margin-div" style="margin-top: 32px;">
                    <template if:true={showHideAdd2}>
  
                    <lightning-button style="width: 656px; text-align: center; margin-right:20px;" variant="bare" name="add" data-id="Add2" label="Add" onclick={handleAdd}>
                    </lightning-button>
                  </template>
  
                  <template if:true={showHideRemove1}>
  
                    <lightning-button style="width: 656px; text-align: center; " variant="bare" name="remove" data-id="Remove1" label="Remove" onclick={handleRemove}>
                    </lightning-button>
                    </template>
                    </div>
                  
                  </template>
                  </div>

                  <div class="slds-grid slds-wrap slds-gutters">


                    <template if:true={showQualificationFields2}>
    
                      <div class="slds-col slds-size_1-of-4 margin-div">
                        <label for="Trade_Qualifications_Registrations_3__c" style="font-size:15px;font-family: Verdana;">Trade Qualification Registrations</label>
                      
                        <select id="Trade_Qualifications_Registrations_3__c" name="Trade_Qualifications_Registrations_3__c" class="slds-input" data-id="Trade_Qualifications_Registrations_3__c" onchange={handleChange} required>
                            <option value="">---None---</option>                
                              <template for:each={selectTradeQualificationRegistrationTargetValues.data} for:item="selectOptItem">
                                 <option key={selectOptItem.custFldvalue} value={selectOptItem.custFldvalue}>
                                   {selectOptItem.custFldlabel}
                                 </option>
                            </template>
                      </select>
                    </div>
                  
                  <!--<div class="slds-grid slds-wrap slds-gutters">-->
                    <template if:true={hideRegistrationNo2}>
    
                    <div class="slds-col slds-size_1-of-7 margin-div">
                      <label for="Trade_Qualifications_Registration_No3__c" style="font-size:15px;font-family: Verdana;">Registration No</label>
                      <lightning-input id="Trade_Qualifications_Registration_No3__c" data-id="Trade_Qualifications_Registration_No3__c" variant="label-hidden" value={recordObj.Trade_Qualifications_Registration_No3__c} onchange={handleChange}>
    
                      </lightning-input>
                  </div>
                  </template>
                        <template if:true={showTradeQualificationFields2}>
                          <div class="slds-col slds-size_1-of-7 margin-div">
                            <label for="Licence_Type_3__c" style="font-size:15px;font-family: Verdana;">Licence Type</label>
                            <lightning-input id="Licence_Type_3__c" data-id="Licence_Type_3__c" variant="label-hidden" value={recordObj.Licence_Type_3__c} onchange={handleChange}>
          
                            </lightning-input>
                        </div>
                          
                          <div class="slds-col slds-size_1-of-7 margin-div">
                            <label for="Trade_Qualifications_Registration_No3__c" style="font-size:15px;font-family: Verdana;">Registration No</label>
                            <lightning-input id="Trade_Qualifications_Registration_No3duplicate__c" data-id="Trade_Qualifications_Registration_No3__c" variant="label-hidden" value={recordObj.Trade_Qualifications_Registration_No3__c} onchange={handleChange}>
      
                            </lightning-input>
                        </div>
                        
                        
    
                        <div class="slds-col slds-size_1-of-7 margin-div">
                          <label for="Expiry_date_of_registration_license_3__c" style="font-size:15px;font-family: Verdana;">Expiry Date<span style="color: red;">*</span></label>
                          <lightning-input type="date" id="Expiry_date_of_registration_license_3__c" data-id="Expiry_date_of_registration_license_3__c" variant="label-hidden" value={recordObj.Expiry_date_of_registration_license_3__c} onchange={handleChange} required>
    
                          </lightning-input>
                      </div>
                      
                      
                    </template>
    
                    <div class="slds-col slds-size_1-of-7 margin-div" style="margin-top: 32px;">
    
                      <lightning-button style="width: 656px; text-align: center;" variant="bare" name="remove" data-id="Remove2" label="Remove" onclick={handleRemove}>
                      </lightning-button>
                      </div>
                    </template>
                  </div> 
              <div class="slds-grid slds-wrap slds-gutters">
              
                  <div class="slds-col slds-size_1-of-3 margin-div">
                      <label for="Working_under_supervision_of__c" style="font-size:15px;font-family: Verdana;">Working under supervision of</label>
                      <lightning-input id="Working_under_supervision_of__c" data-id="Working_under_supervision_of__c" variant="label-hidden" value={recordObj.Working_under_supervision_of__c} onchange={handleChange}>

                      </lightning-input>
                  </div>
               
              
                  <div class="slds-col slds-size_1-of-3 margin-div">
                      <label for="Working_Under_Supvson_Of_Registration_No__c" style="font-size:15px;font-family: Verdana;">Registration No</label>
                      <lightning-input id="Working_Under_Supvson_Of_Registration_No__c" data-id="Working_Under_Supvson_Of_Registration_No__c" variant="label-hidden" value={recordObj.Working_Under_Supvson_Of_Registration_No__c} onchange={handleChange}>

                      </lightning-input>
                  </div>
              </div>
              <div class="slds-grid slds-wrap slds-gutters">
              
                  <div class="slds-col slds-size_1-of-3 margin-div">
                      <label for="Apprenticeship_Certification_Types__c" style="font-size:15px;font-family: Verdana;">Apprenticeship Certification Types</label>
                      <lightning-input id="Apprenticeship_Certification_Types__c" data-id="Apprenticeship_Certification_Types__c" variant="label-hidden" value={recordObj.Apprenticeship_Certification_Types__c} onchange={handleChange}>

                      </lightning-input>
                  </div>
              
              
                  <div class="slds-col slds-size_1-of-3 margin-div">
                      <label for="Year_Level__c" style="font-size:15px;font-family: Verdana;">Year Level</label>
                      <lightning-input id="Year_Level__c" data-id="Year_Level__c" variant="label-hidden" value={recordObj.Year_Level__c} onchange={handleChange}>

                      </lightning-input>
                  </div>
              </div>
              <div class="slds-grid slds-wrap slds-gutters">
              
                  <div class="slds-col slds-size_1-of-3 margin-div">
                      <label for="Site_Safe_Qualifications_or_Equivalent__c" style="font-size:14px;font-family: Verdana;">Site Safe Qualifications or Equivalent</label>
                      <lightning-input id="Site_Safe_Qualifications_or_Equivalent__c" data-id="Site_Safe_Qualifications_or_Equivalent__c" variant="label-hidden" value={recordObj.Site_Safe_Qualifications_or_Equivalent__c} onchange={handleChange}>

                      </lightning-input>
                  </div>
              
              
                  <div class="slds-col slds-size_1-of-3 margin-div">
                      <label for="Site_Safe_Qualifications_Registration_No__c" style="font-size:15px;font-family: Verdana;">Registration No</label>
                      <lightning-input id="Site_Safe_Qualifications_Registration_No__c" data-id="Site_Safe_Qualifications_Registration_No__c" variant="label-hidden" value={recordObj.Site_Safe_Qualifications_Registration_No__c} onchange={handleChange}>

                      </lightning-input>
                  </div>
              
                  <div class="slds-col slds-size_1-of-3  margin-div">
                      <label for="Expiry_Date__c" style="font-size:15px;font-family: Verdana;">Expiry Date</label>
                        <lightning-input type="date"  id="Expiry_Date__c" data-id="Expiry_Date__c" name="Expiry_Date__c" label="Expiry_Date__c" variant="label-hidden" value={recordObj.Expiry_Date__c} onchange={handleChange} >

                      </lightning-input>
                  </div>
              
              </div>
</div>
</div>
              

            
                <div class="slds-section slds-is-open">
                  <h3 class="slds-section__title slds-theme_shade">
                     <span style="font-size:20px;font-family: Verdana;"  title="Section Title">Declarations</span>
                  </h3>
                  <div aria-hidden="false" class="slds-section__content">
              

                 <div class ="slds-checkbox_toggle.slds-grid;slds-float_right;">
                 
                  <div class="toggle_condition">
                    
                    <label for="Is_a_Direct_Employee__c" style="font-size:15px;font-family: Verdana;width : 90%">This person is direct employee</label> 
                <div class="slds-float_right"><lightning-input data-id="Is_a_Direct_Employee__c" type="toggle"  variant="label-hidden" label="This person is direct employee." style="font-size:15px;font-family: Verdana;" onchange={changeToggle} checked={recordObj.Is_a_Direct_Employee__c}  message-toggle-active="Yes" message-toggle-inactive="No" ></lightning-input> </div>
              </div>
           
              
              <div class="toggle_condition">
                <label for="Obligation_under_HSAW_Act_2015__c" style="font-size:15px;font-family: Verdana;width : 90%">This applicant is aware of their obligations under the HSAW Act 2015 and associated regulations.</label> 
                <div class="slds-float_right"><lightning-input data-id="Obligation_under_HSAW_Act_2015__c" type="toggle" variant="label-hidden"  label="This applicant is aware of their obligations under the HSAW Act 2015 and associated regulations." onchange={changeToggle} checked={recordObj.Obligation_under_HSAW_Act_2015__c} message-toggle-active="Yes" message-toggle-inactive="No" ></lightning-input></div>
              </div>

              <div class="toggle_condition">
                <label for="Inducted_through_internal_systems_fami__c" style="font-size:15px;font-family: Verdana;width : 90%">This applicant has been inducted through your own Company's internal systems & familiar with your own QHSE business processes</label>   
                <div class="slds-float_right"><lightning-input data-id="Inducted_through_internal_systems_fami__c" type="toggle" variant="label-hidden"  label="This applicant has been inducted thorugh your own Company's internal sysytems & familier with your own QHSE business processes" onchange={changeToggle} checked={recordObj.Inducted_through_internal_systems_fami__c} message-toggle-active="Yes" message-toggle-inactive="No" ></lightning-input></div>
              </div>

              <div class="toggle_condition">
                <label for="Is_Construction_ready__c" style="font-size:15px;font-family: Verdana;width : 90%">This person is Construction Ready & has the appropriate training,tools and PPE to operate on & around Switched On Group's work sites</label>   
                <div class="slds-float_right"><lightning-input data-id="Is_Construction_ready__c" type="toggle" variant="label-hidden"  label="This person is Construction Ready & has the appropriate training,tools and PPE to operate on & around Switched On's work sites" onchange={changeToggle} checked={recordObj.Is_Construction_ready__c} message-toggle-active="Yes" message-toggle-inactive="No" ></lightning-input> </div>
              </div>

              <div class="toggle_condition">
                <label for="Do_you_have_a_Criminal_History_Record__c" style="font-size:15px;font-family: Verdana;width : 90%">Do you have a Criminal History Record from the last 3 months?</label>
                <div class="slds-float_right"></div><lightning-input data-id="Do_you_have_a_Criminal_History_Record__c" variant="label-hidden" type="toggle" label="Do you have a Criminal History Record from the last 3 months?" onchange={changeMOJToggle} checked={recordObj.Do_you_have_a_Criminal_History_Record__c}  message-toggle-active="Yes" message-toggle-inactive="No" ></lightning-input> </div>
              </div>

              <div class="toggle_condition">
                <label for="Is_KO_tenant_family_members_in_KO_prop__c" style="font-size:15px;font-family: Verdana;width : 90%">This person is a Kāinga Ora customer or has a close relationship with a Kāinga Ora customer</label>   
                <div class="slds-float_right"><lightning-input data-id="Is_KO_tenant_family_members_in_KO_prop__c" type="toggle" variant="label-hidden"  label="This person is a Kāinga Ora Customer or has close relationship with a Kāinga Ora Customer" onchange={changeToggle} checked={recordObj.Is_KO_tenant_family_members_in_KO_prop__c} message-toggle-active="Yes" message-toggle-inactive="No" ></lightning-input> </div>
              </div>

                <template if:true={showConflictOfInterest}>
                <div class="slds-page-header__name-title slds-theme_shade margin-div">
                    <h3>
                      <span class="slds-page-header__title slds-truncate" style="font-size:20px;font-family:Verdana;" title="Declarations">Conflicts Of Interest</span>
                    </h3>
                  </div>
                <div class="slds-grid slds-wrap slds-gutters">
              
                   
                    <div class="slds-col slds-size_1-of-1 margin-div">
                      <label for="Details_of_conflict_of_interest_with_KO__c" style="font-size:15px;font-family: Verdana;">Details of Conflict of Interest with Kāinga Ora or Switched On Housing including Customer, Relative or Close personal relationship(if any)</label>
                      <lightning-helptext content="A conflict of interest means you or a family member including Customer, Relative or Close personal relationship lives in a Kāinga Ora house or a friend or family member works for Switched On Housing or Kāinga Ora."></lightning-helptext>
                    
                  </div>
                </div>

                <div class="slds-grid slds-wrap slds-gutters">
                    
                   

                  <div class="slds-col slds-size_1-of-3 margin-div">
                    <label for="Relationship_to_Person_1__c" style="font-size:15px;font-family: Verdana;">1. Relationship To Person</label>
                    <lightning-input id="Relationship_to_Person_1__c" data-id="Relationship_to_Person_1__c"  value={recordObj.Relationship_to_Person_1__c} variant="label-hidden" onchange={handleChange}>

                  </lightning-input>
                </div>

                <div class="slds-col slds-size_1-of-3 margin-div">
                    <label for="Address_1__c" style="font-size:15px;font-family: Verdana;">Address</label>
                    <lightning-input id="Address_1__c" data-id="Address_1__c"  value={recordObj.Address_1__c} variant="label-hidden" onchange={handleChange}>

                  </lightning-input>
                </div>

               

                </div>
                <div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-3 margin-div">
                        <label for="Relationship_to_Person_2__c" style="font-size:15px;font-family: Verdana;">2. Relationship To Person</label>
                        <lightning-input id="Relationship_to_Person_2__c" data-id="Relationship_to_Person_2__c"  value={recordObj.Relationship_to_Person_2__c} variant="label-hidden" onchange={handleChange}>
    
                      </lightning-input>
                    </div>
    
                    <div class="slds-col slds-size_1-of-3 margin-div">
                        <label for="Address_2__c" style="font-size:15px;font-family: Verdana;">Address</label>
                        <lightning-input id="Address_2__c" data-id="Address_2__c"  value={recordObj.Address_2__c} variant="label-hidden" onchange={handleChange}>
    
                      </lightning-input>
                    </div>
                </div>
                <div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-3 margin-div">
                      <label for="Relationship_to_Person_3__c" style="font-size:15px;font-family: Verdana;">3. Relationship To Person</label>
                      <lightning-input id="Relationship_to_Person_3__c" data-id="Relationship_to_Person_3__c"  value={recordObj.Relationship_to_Person_3__c} variant="label-hidden" onchange={handleChange}>
  
                    </lightning-input>
                  </div>
  
                  <div class="slds-col slds-size_1-of-3 margin-div">
                      <label for="Address_3__c" style="font-size:15px;font-family: Verdana;">Address</label>
                      <lightning-input id="Address_3__c" data-id="Address_3__c"  value={recordObj.Address_3__c} variant="label-hidden" onchange={handleChange}>
  
                    </lightning-input>
                  </div>
  
                 
  
                  </div>
                </template>

                <div class="toggle_condition">
                  <label for="Close_relationship_with_Kainga_Ora_SOH__c" style="font-size:15px;font-family: Verdana;width : 90%">This person has a close relationship with staff from Kāinga Ora or Switched On Housing</label>   
                  <div class="slds-float_right"><lightning-input data-id="Close_relationship_with_Kainga_Ora_SOH__c" type="toggle" variant="label-hidden"  label="This person has close relationship with Staff of Kāinga Ora or Switched On Housing or other" onchange={changeToggle} checked={recordObj.Close_relationship_with_Kainga_Ora_SOH__c} message-toggle-active="Yes" message-toggle-inactive="No" ></lightning-input> </div>
                </div>
  
                <template if:true={showRelationshipToPerson}>
                  <div class="slds-grid slds-wrap slds-gutters">
                      
                     
  
                    <div class="slds-col slds-size_1-of-2 margin-div">
                      <label for="Conflict_Of_Interest_Details__c" style="font-size:15px;font-family: Verdana;">Details</label>
                      <lightning-input id="Conflict_Of_Interest_Details__c" data-id="Conflict_Of_Interest_Details__c"  value={recordObj.Conflict_Of_Interest_Details__c} variant="label-hidden" onchange={handleChange}>
  
                    </lightning-input>
                  </div>
                  </div>
  
                  </template>

              
</div>
</div>
<div style="text-align:right;margin-top:20px;">
  <lightning-button variant="brand" name="next" label="Next" onclick={handleNext}>
  </lightning-button>
</div>
          </template>

         <template if:true={showNextFields}>
            <div class="slds-m-around_large">

                <div if:true={isLoaded} class="slds-is-relative">
                   <lightning-spinner
                       alternative-text="Saving..." variant="brand">
                   </lightning-spinner>
               </div>
               </div>
         <!---File upload logic-->

       
                <div class="slds-section slds-is-open">
                  <h3 class="slds-section__title slds-theme_shade">
                     <span style="font-size:20px;font-family: Verdana;"  title="Section Title">Upload Files</span>
                  </h3>
                  <div aria-hidden="false" class="slds-section__content">
        <div class="slds-grid slds-wrap slds-gutters">

         <div class="slds-col slds-size_1-of-2 margin-div">
            <label style="font-size:15px;font-family: Verdana">Photograph<span style="color: red;">*</span></label>
               <div class="file-container1">
                <c-worker-File-upload onuploadcomplete={uploadCompleteHandler} acceptedformat={supportedFiles}></c-worker-File-upload>
                  <div class="file-entry1">
                   {photographfilename}
                  </div>
               </div>
               <div class="error-msg hide-error">
                  Upload a file.
               </div>
         </div>

         <div class="slds-col slds-size_1-of-2 margin-div">
            <label style="font-size:15px;font-family: Verdana">Evidence of Id<span style="color: red;">*</span></label>
               <div class="file-container1">
                <c-worker-File-upload onuploadcomplete={uploadCompleteHandlerEvidenceOfId} acceptedformat={supportedFiles}></c-worker-File-upload>
                  <div class="file-entry1">
                   {EvidenceOfIdfilename}
                  </div>
               </div>
               <div class="error-msg hide-error">
                  Upload a file.
               </div>
         </div>

         <!--conditional logic-->
         <template if:true={showWorkVisaFileUpload}>
          <div class="slds-col slds-size_1-of-2 margin-div">
           <label style="font-size:15px;font-family: Verdana">Work Visa<span style="color: red;">*</span></label>
              <div class="file-container1">
               <c-worker-File-upload onuploadcomplete={uploadCompleteHandlerWorkVisa} acceptedformat={supportedFiles}></c-worker-File-upload>
                 <div class="file-entry1">
                  {WorkVisafilename}
                 </div>
              </div>
              <div class="error-msg hide-error">
                 Upload a file.
              </div>
           </div>
           </template>


         <div class="slds-col slds-size_1-of-2 margin-div">
            <label style="font-size:15px;font-family: Verdana">Registration Certificate</label>
               <div class="file-container1">
                <c-worker-File-upload onuploadcomplete={uploadCompleteHandlerRegisterationCertificate} acceptedformat={supportedFiles}></c-worker-File-upload>
                  <div class="file-entry1">
                   {RegisterationCertificatefilename}
                  </div>
               </div>
               <div class="error-msg hide-error">
                  Upload a file.
               </div>
         </div>

         <div class="slds-col slds-size_1-of-2 margin-div">
            <label style="font-size:15px;font-family: Verdana">Site Safe Document</label>
               <div class="file-container1">
                <c-worker-File-upload onuploadcomplete={uploadCompleteHandlerSiteSafeCertificate} acceptedformat={supportedFiles}></c-worker-File-upload>
                  <div class="file-entry1">
                   {SiteSafeCertificatefilename}
                  </div>
               </div>
               <div class="error-msg hide-error">
                  Upload a file.
               </div>
         </div>
          <!--conditional logic-->
          <template if:true={areDetailsVisible}>

         <div class="slds-col slds-size_1-of-2 margin-div">
            <label style="font-size:15px;font-family: Verdana">MOJ Result(if available)<span style="color: red;">*</span></label>
               <div class="file-container1">
                <c-worker-File-upload onuploadcomplete={uploadCompleteHandlerMOJResult} acceptedformat={supportedFiles}></c-worker-File-upload>
                  <div class="file-entry1">
                   {MOJResultfilename}
                  </div>
               </div>
               <div class="error-msg hide-error">
                  Upload a file.
               </div>
         </div>
         </template>
         

         <div class="slds-col slds-size_1-of-2 margin-div">
            <label style="font-size:15px;font-family: Verdana">MOJ Release(if there are convictions)<span style="color: red;">*</span></label>
               <div class="file-container1">
                <c-worker-File-upload onuploadcomplete={uploadCompleteHandlerMOJRelease} acceptedformat={supportedFiles}></c-worker-File-upload>
                  <div class="file-entry1">
                   {MOJReleasefilename}
                  </div>
               </div>
               <div class="error-msg hide-error">
                  Upload a file.
               </div>
            </div>

            
        </div> 
         
        <div class="declaration" >
          <div class="slds-col slds-size--1-of-1 margin-div"> 
            <input type="checkbox" id="privacydisclaimercheckbox" data-id="privacydisclaimer" name="privacydisclaimercheckbox" value={recordObj.Privacy_Disclaimer__c} onchange={handleDeclarationChange} style="height: 15px;width:18px;margin-right:8px;margin-top:5px;margin-bottom:5px;">
            <label for="privacydisclaimercheckbox" style="font-size:14px;font-family: Verdana;color:grey;">{label.PrivacyDisclaimerLabel}<a href={privacypracticesURL} target="_blank">click here</a></label><br>
           
         </div>

          <div class="slds-col slds-size--1-of-1 margin-div"> 
            <input type="checkbox" id="addresscheckbox" data-id="declaration" name="privacydisclaimercheckbox"  onchange={handleDeclarationChange} style="height: 15px;width:18px;margin-right:8px;margin-top:5px;margin-bottom:5px;">
            <label for="addresscheckbox" style="font-size:14px;font-family: Verdana;color:grey;">{label.declarationLabel}</label><br> 
          
         </div>
         </div>
         

         <div style="margin: 10 auto; text-align: center;">
            <lightning-button style="margin: 20px ; width: 656px; text-align: center;" variant="brand" name="previous" label="Previous" onclick={handlePrevious}>
            </lightning-button>
       
            <lightning-button style="margin: 20px ; width: 656px; text-align: center;" variant="brand" name="save" label="Submit" disabled={disableSubmit} onclick={handleSubmit}>
            </lightning-button>
         </div>
        </div>
      </div>
          </template>
       

      </lightning-record-edit-form>
  
</template>