<template>
   
    <!--lightning-card title={celebration} -->
    <div class="container" style="border:1px solid rgb(242,240,240)">
        <div class="icon-heading" style="display:inline-flex;margin:5px 0px 0px 5px;">
     <img src={celebrationIcon} style="width: 25px; height: 22px; margin: 6px 5px 0px 6px;">
<h2 id="folder-header">{celebration}</h2>
    </div>  

        <div class="celebration-details">
             <lightning-tabset >
            <lightning-tab label="Today">
                
                <c-birthday-work-anniversary-l-w-c  isb-day-or-work-section={IsbDayOrWorkSection}  time-duration='today' >

                </c-birthday-work-anniversary-l-w-c>
            </lightning-tab>
            <!--lightning-tab label="Tomorrow" >
                <c-birthday-work-anniversary-l-w-c isb-day-or-work-section={IsbDayOrWorkSection}  time-duration='tomorrow'>

                </c-birthday-work-anniversary-l-w-c>
            </lightning-tab-->
            <lightning-tab label="Week">                
                <c-birthday-work-anniversary-l-w-c  isb-day-or-work-section={IsbDayOrWorkSection}  time-duration='week'>

                </c-birthday-work-anniversary-l-w-c>
            </lightning-tab>
            <!--lightning-tab label="Month">
                <c-birthday-work-anniversary-l-w-c  isb-day-or-work-section={IsbDayOrWorkSection} time-duration='month'>

                </c-birthday-work-anniversary-l-w-c>
            </lightning-tab-->
        </lightning-tabset>


        </div>
    </div>
        
          <!--/lightning-card-->

    
</template>